body, html {
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

:root {
    --backgroundColor: rgb(121, 173, 220);
}

.sidebar {
    background-color: var(--backgroundColor);
    width: 260px;
    height: 100vh;
    /*overflow-y: scroll;*/
}

.sidebar-list li {
    font-weight: bold;
    padding: 5px;
}

.FlexSpaceAround {
    display: flex;
    justify-content: space-around;
}

#left {
    width: 260px;
}

.RightOfSidebar {
    flex-grow: 1;
}

.DetailHeaderWithUnderline {
    border-bottom: 1px solid rgb(238, 224, 203);
}

.DetailHeaderDetailsWithMargin {
    margin: 10px;
}

.DetailsPage {
    flex-grow: 1;
}

.PageHeader {
    font-size: 29px;
    font-weight: bold;
    margin-left: 10px;
}

.SidebarHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.SidebarLinkComponent {
    margin: 10px;
}

.SidebarLink {
    border-radius: 10px;
}

.AccountSidebarDetails {
    border-radius: 10px;
    margin-left: 20px;
}

.AddActionCircle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: var(--backgroundColor)
}