body,
html {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroundColor: rgb(121, 173, 220);
    --underLineColor: rgb(201, 221, 201);
    --sidebarWidth: max(11vw, 260px);
    --categoryWidth: 400px;
    --dashboardHeaderHeight: 61px;
    --BudgetGroupWidth: 70%;
    --BudgetGroupAndItemBorderRadius: 10px;
    --SelectedBudgetItemPadding: 15px;
    --SelectedBudgetItemInnerBoxColor: #F0F8FF;
}

.blueBackgroundColor {
    color: var(--backgroundColor);
}

.sidebar {
    background-color: var(--backgroundColor);
    height: 100vh;
    /*overflow-y: scroll;*/
}

.fullWidth {
    width: calc(100vw - var(--sidebarWidth) - 500px)
}

.date {
    width: 350px
}

.sidebar-list li {
    font-weight: bold;
    padding: 5px;
}

.FlexSpaceAround {
    display: flex;
    justify-content: space-around;
}

#left {
    width: 260px;
}

.RightOfSidebar {
    flex-grow: 1;
}

.DetailHeaderWithUnderline {
    border-bottom: 1px solid var(--underLineColor);
}

.budgetCategoryGroupDashboardHeader {
    width: var(--categoryWidth);
    background-color: rgba(202, 230, 233, 255);
}

.dashboardBudgetGroupFormat {
    width: 380px;
    margin-right: 10px;
    margin-left: 10px;
}

.categoryGroupItemFlex {
    align-content: center;
    justify-content: space-between;
    background-color: rgb(203, 239, 208);
    border-bottom: 1px solid var(--underLineColor);
    border-top: 1px solid var(--underLineColor);
    align-items: center;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: var(--BudgetGroupAndItemBorderRadius);
    /*margin-bottom: 10px;*/

}

.dashboardFlexFormatWithUnderline {
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--underLineColor);
}

.categoryItem {
    /*refer to dashboardFlexFormatWithUnderline*/
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    border-radius: var(--BudgetGroupAndItemBorderRadius);
    margin-left: 10px;
    margin-right: 10px;
}

.dashboardBudgetCategoryFinalFlexItem {
    margin-right: 50px;
}

.Dashboard {
    max-height: 100vh;
    overflow: hidden
}

.DetailHeaderDetailsWithMargin {
    margin: 10px;
}

.CategoryTableHeader {
    padding-top: 10px;
    border-bottom: 1px solid var(--underLineColor);
}

.CategoryTableFlex {
    margin-left: 10px;
    margin-bottom: 10px;
}

.BoxFlexGrow {
    flex-grow: 1;
}

.DashboardHeaderBox {
    flex-grow: 1;
    height: var(--dashboardHeaderHeight);
}

.CategoriesScrollArea {
    height: calc(100vh - var(--dashboardHeaderHeight) - 92px);
    margin-top: 10px;
}

.PageHeader {
    font-size: 29px;
    font-weight: bold;
    margin-left: 10px;
}

.SidebarHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.SidebarLinkComponent {
    margin: 10px;
}

.SidebarLink {
    border-radius: 10px;
}

.AccountSidebarDetails {
    border-radius: 10px;
    margin-left: 20px;
}

.AddActionCircleBottom {
    float: right;
    margin-top: 10px;
    color: var(--backgroundColor)
}

.AddActionCircleBottom {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: var(--backgroundColor)
}

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}

.BudgetTable {
    width: var(--BudgetGroupWidth);
    border-right: 1px solid var(--underLineColor);
}

.SelectedBudgetItemOuterBox {
    background-color: var(--SelectedBudgetItemInnerBoxColor);
    border-radius: var(--BudgetGroupAndItemBorderRadius);
    padding: var(--SelectedBudgetItemPadding);
    margin-top: 10px;
}

.SelectedBudgetItemFundingOptionFundBox {
    border-radius: var(--BudgetGroupAndItemBorderRadius);
    padding: var(--SelectedBudgetItemPadding);
    margin-top: 10px;
}

.SelectedBudgetItemInnerBox {
    background-color: aquamarine;
    border-radius: var(--BudgetGroupAndItemBorderRadius);
    padding: var(--SelectedBudgetItemPadding);
}

.SelectedBudgetItemFundingOptions {
    margin-top: 20px;
    background-color: var(--SelectedBudgetItemInnerBoxColor);
    padding: var(--SelectedBudgetItemPadding);
    border-radius: var(--BudgetGroupAndItemBorderRadius);
}

.SelectedBudgetItemFundingOptionsButton {
    margin-bottom: 10px;
}

.selectedBudgetItemInfoFlex {
    justify-content: space-between;
    margin-top: 10px;
}

.selectedBudgetInfoDivider {
    margin-top: 10px;
    margin-bottom: 10px;
}